# Virtual environments
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment config
*.python-version

# macOS system files
.DS_Store

# IDE files
.idea/

# Logs
*.log
config.bat
node_modules
